<div class="sidebar-left" th:fragment="slidebar">
	<div class="sidebar-left-info">
	    <div class="user-box">
	        <div class="d-flex justify-content-center">
	            <img th:src="@{${#authentication.getPrincipal().getUser().getUserDetails.getAvatar()}}" alt="" class="img-fluid rounded-circle"> 
	        </div>
	        <div class="text-center text-white mt-2">
	            <h6 th:text="${#authentication.getPrincipal().getFullName()}"></h6>
	            <p class="text-muted m-0">Admin</p>
	        </div>
	    </div>   
	
	    <!--sidebar nav start-->
	    <ul class="side-navigation">
	        <li>
	            <h3 class="navigation-title">Navigation</h3>
	        </li>
	        <li class="active">
	            <a th:href="@{/}"><i class="mdi mdi-google-drive"></i> <span>My Drive</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="mdi mdi-share"></i> <span>Share with me</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="mdi mdi-clock"></i> <span>Recent</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="mdi mdi-star"></i> <span>Starred</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="mdi mdi-delete"></i> <span>Trash</span></a>
	        </li>
	    </ul><!--sidebar nav end-->
	</div>
</div>