<div class="sidebar-left" th:fragment="slidebar">
	<div class="sidebar-left-info">
	    <div class="user-box">
	        <div class="d-flex justify-content-center">
	            <img th:src="@{${#authentication.getPrincipal().getUser().getUserDetail.getAvatar()}}" alt="" class="img-fluid rounded-circle"> 
	        </div>
	        <div class="text-center text-white mt-2">
	            <h6 th:text="${#authentication.getPrincipal().getFullName()}"></h6>
	            <p class="text-muted m-0">Admin</p>
	        </div>
	    </div>   
	
	    <!--sidebar nav start-->
	    <ul class="side-navigation">
	    	<li>
	            <a href="#"><i class="ti-pencil"></i><span>Compoese</span></a>
	        </li>
	        <hr>
	        <li class="active">
	            <a th:href="@{/}"><i class="mdi mdi-message-outline"></i> <span>Inbox</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="ti-star"></i> <span>Starred</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="ti-file mr-2"></i> <span>Draft</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="ti-location-arrow"></i> <span>Sent</span></a>
	        </li>
	        <li>
	            <a href="#"><i class="ti-trash"></i> <span>Trash</span></a>
	        </li>
	    </ul><!--sidebar nav end-->
	</div>
</div>