<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Mannat Themes">
        <meta name="keyword" content="">

        <title>SYNTRA | Homepage</title>

        <!-- Theme icon -->
        <link rel="shortcut icon" th:href="@{/images/favicon.ico}">

        <link th:href="@{/plugins/dropify/css/dropify.min.css}" rel="stylesheet">
        <!-- Theme Css -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/slidebars.min.css}" rel="stylesheet">
        <link th:href="@{/css/icons.css}" rel="stylesheet">
        <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <!-- Sweet Alert css -->
        <link th:href="@{/plugins/sweet-alert/sweetalert2.min.css}" rel="stylesheet" type="text/css" />
    </head>

    <body class="sticky-header">
        <section>
        	<div th:replace="fragments/slidebar :: slidebar">
        	</div>
            <!-- body content start-->
            <div class="body-content">
                <!-- header section start-->
                <div th:replace="fragments/header :: header"></div>
                <!-- header section end-->
                
                <div class="tab-content p-4 bg-white">
					<div class="tab-pane active p-4">
					    <div class="row justify-content-center">
					        <div class="col-md-12  profile-detail">
					            <div class="text-center">
					                <i class="fa fa-graduation-cap"></i>
					                <h5>Personal Details</h5>
					                <img th:src="@{${#authentication.getPrincipal().getUser().getUserDetail.getAvatar()}}" data-toggle="modal" data-target=".bd-example-modal-lg" class="rounded-circle mx-auto d-block" width="128" height="128">					                
					                <div class="profile-border my-3"></div>
					            </div>
					            <div class="row mt-5">
					                <div class="col-md-12">
					                	<form th:action="@{/update-profile}"
					                		method="POST"
					                		th:object="${profile}">
					                		<div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">Name</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="text" id="example-search-input" readonly="readonly" th:value="*{fullname}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">Sex</label>
                                                <div class="col-10">
                                                	<div class="form-check-inline my-1">
                                                        <label class="cr-styled" for="example-radio4">
                                                            <input type="radio" id="example-radio4" value="0" th:field="*{gender}" th:checked="${profile.gender == 0}"/> 
                                                            <i class="fa"></i>
															Male
                                                        </label>
                                                    </div>
													<div class="form-check-inline my-1">
                                                        <label class="cr-styled" for="example-radio5">
                                                            <input type="radio" id="example-radio5" value="1" th:field="*{gender}" th:checked="${profile.gender == 1}"/> 
                                                            <i class="fa"></i>
															Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">Date Of Birth</label>
                                                <div class="col-10">
                                                	<input class="form-control" type="date" id="example-date-input" th:field="*{dob}" th:value="${dob}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">Phone</label>
                                                <div class="col-10">
                                                	<input required="required" class="form-control" id="example-search-input" type="text" placeholder="Phone" th:field="*{phone}" th:value="${phone}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-search-input" class="col-2 col-form-label">Address</label>
                                                <div class="col-10">
                                                	<input required="required" class="form-control" id="example-search-input" type="text" placeholder="Address" th:field="*{address}" th:value="${address}"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </div>
					                	</form>
					                </div>
					            </div><!--END ROW-->
					        </div>
					    </div>
					</div>
					<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                        	<form th:action="@{/change-avatar}" method="post" enctype="multipart/form-data">
	                            <div class="modal-content">
	                                <div class="modal-header">
	                                    <h5 class="modal-title">Modal title</h5>
	                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                                        <span aria-hidden="true">&times;</span>
	                                    </button>
	                                </div>
	                                <div class="modal-body">
										<label for="input-file-now-custom-3">Upload your avatar here</label>
	                                	<input name="avatar" type="file" id="input-file-now-custom-3" class="dropify" data-height="500" th:data-default-file="${profile.avatar}"/>
	                                </div>
	                                <div class="modal-footer">
	                                    <button type="submit" class="btn btn-primary">Save changes</button>
	                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	                                </div>
	                            </div>
                            </form>
                        </div>
                    </div> 
                <!--footer section start-->
                <div th:replace="fragments/footer :: footer"></div>
                <!--footer section end-->

            </div>
            <!--end body content-->
        </section>

        <!-- jQuery -->
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-migrate.js}"></script>
        <script th:src="@{/js/modernizr.min.js}"></script>
        <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/js/slidebars.min.js}"></script>

        <!--plugins js-->
        <script th:src="@{/plugins/counter/jquery.counterup.min.js}"></script>
        <script th:src="@{/plugins/waypoints/jquery.waypoints.min.js}"></script>
        <script th:src="@{/plugins/sparkline-chart/jquery.sparkline.min.js}"></script>
        <script th:src="@{/pages/jquery.sparkline.init.js}"></script>
        
        <script th:src="@{/plugins/dropify/js/dropify.min.js}"></script>
        
        <!-- Sweet Alert Js  -->
        <script th:src="@{/plugins/sweet-alert/sweetalert2.min.js}"></script>
        <script th:src="@{/pages/jquery.sweet-alert.init.js}"></script>

        <!--app js-->
        <script th:src="@{/js/jquery.app.js}"></script>
        <script th:src="@{/js/main.js}"></script>
        
        <script th:if="${message}" th:inline="javascript">
        	var message = /*[[${message}]]*/ "default";
        	swal(
        		"Success",
        		message,
        		"success"
        	);
        </script>
        
        <script>
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                delay: 100,
                time: 1200
                });
            });
        </script>
		<script>
            $(document).ready(function(){
                // Basic
                $('.dropify').dropify();

                // Translated
                $('.dropify-fr').dropify({
                    messages: {
                        default: 'Glissez-déposez un fichier ici ou cliquez',
                        replace: 'Glissez-déposez un fichier ou cliquez pour remplacer',
                        remove:  'Supprimer',
                        error:   'Désolé, le fichier trop volumineux'
                    }
                });

                // Used events
                var drEvent = $('#input-file-events').dropify();

                drEvent.on('dropify.beforeClear', function(event, element){
                    return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
                });

                drEvent.on('dropify.afterClear', function(event, element){
                    alert('File deleted');
                });

                drEvent.on('dropify.errors', function(event, element){
                    console.log('Has Errors');
                });

                var drDestroy = $('#input-file-to-destroy').dropify();
                drDestroy = drDestroy.data('dropify')
                $('#toggleDropify').on('click', function(e){
                    e.preventDefault();
                    if (drDestroy.isDropified()) {
                        drDestroy.destroy();
                    } else {
                        drDestroy.init();
                    }
                })
            });
        </script>
        
    </body>
</html>
